<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Plugin0" value="DoCache;;DoCacheLib.dll;DoCache.DoCacheApplication" />
		<add key="Plugin1" value="Assc;DoCache;AsJobProviderLib.dll;AsJobProviderLib.AsJobProvider;AssignmentServiceSingleClient;" />
		<add key="Plugin2" value="Asrd;DoCache;AsJobProviderLib.dll;AsJobProviderLib.AsJobProvider;AssignmentServiceResourceDomain;" />
		<add key="Plugin3" value="Aso;DoCache;AsJobProviderLib.dll;AsJobProviderLib.AsJobProvider;AssignmentServiceOrg;" />
		<add key="Plugin4" value="AppUsageMonitor;;UsageMonitorLib.dll;UsageMonitorLib.AppUsageMonitor;" />
		<add key="LoadRegHive" value="true" />
	</appSettings>
</configuration>
