<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="connectionbehaviour" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <connectionbehaviour>

		<!-- Directory for SQL-Logs -->
		<add key="SqlLogDir" value="" />

		<!-- Directory for Job-Generation-Logs -->
		<add key="JobGenLogDir" value="" />

		<!-- Directory for Object-Logs -->
		<add key="ObjectLogDir" value="" />

		<!-- Life time of the logs above. (in days) -->
		<add key="LogLifeTime" value="1" />

		<!-- No beep tone while reloading data. -->
		<add key="NoReloadBeep" value="False" />

  </connectionbehaviour>
</configuration>